<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>Bulbasaur</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/bulbasaur</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Charmander</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/charmander</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Squirtle</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/squirtle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pidgey</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/pidgey</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pikachu</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/pikachu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jigglypuff</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/jigglypuff</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Diglett</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/diglett</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Meowth</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/meowth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Machop</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/machop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Geodude</string>
			<key>url</key>
			<string>https://www.pokemon.com/us/pokedex/geodude</string>
		</dict>
	</array>
</plist>
